.black{
    background-color: black;
    color: white;
}

.white{
    color: black;
}

td{
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 40px;
}

table{
    border: 5px solid black;
}